<div class="ct ct-blue wrapper-invert">

  <div class="wrapper">
    <header class="site-header" role="banner">
      <h1 class="site-name pn-heading"><a href="/" rel="home">{{site.title}}</a></h1>
      <h1 class="site-name huge"><a href="{{page.url}}">{{page.title}}</a></h1>
      <div class="description">{{site.description}}</div>
      <nav class="site-nav" role="navigation">
        <div class="menu">
        {% assign section = page.url | remove_first:'/' | split:'/' | first %}
        </div>
      </nav>
    </header>
  </div>

</div>
