#{$all-text-inputs} {
  border: 1px solid $light-grey;
  appearance: none;
  color: $dark-grey;
  padding: 0.25rem 0.5rem;
  border-radius: 0.125rem;
}

textarea {
  padding: #{($line-height-unitless / 2)}rem;
}

#{$all-buttons},
.btn {
  background-color: $link-color;
  color: $white;
  padding: 0.25rem 0.5rem;
  margin-bottom: $line-height;
  border: 1px solid $link-color;
  border-radius: 0.125rem;
  cursor: pointer;

  &:hover {
    background-color: tint($link-color, 10%);
  }

  &:active {
    background-color: shade($link-color, 5%);
  }
}

hr {
  border: 0 none;
  border-bottom: 1px solid $light-grey;
  margin-bottom: $line-height;
}

.box {
  border: 1px solid $light-grey;
  padding: $line-height;
  border-radius: 0.25rem;

  .download-link {
    border-top: 1px solid $light-grey;
    padding-top: $line-height;
    display: block;
  }
}
