@import 'bourbon';
@import 'neat';

// Partials are OOCSS components not necessarily related to the site at a stylistic level
@import 'partials/all';

// Modules are site- and style-specific rules
@import 'modules/all';

// force a vertical scrollbar to prevent a jumpy page
// html {overflow-y: scroll;}

body {
  // background-color: #fafafa;
  background-color: $white;
}

ins {
  background-color: $gold;
  color: $black;
  text-decoration: none;
}

mark {
  background-color: $gold;
  color: $black;
  font-style: italic;
  font-weight: bold;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  // j.mp/webkit-tap-highlight-color
  &:link {-webkit-tap-highlight-color: $secondary-color;}
}

// Print styles
@media print {
  article a[href^="/"]:after {
    content: " (http://brand.lodeking.com" attr(href) ") ";
  }
}
