.site-header {
  color: $black;
  padding: $line-height 0;
  background: $white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .15);

  &__logo {
    height: 1.25rem;
  }

  @media screen and (max-width: 460px) {
    text-align: center;
  }

}

.site-nav {
  font-family: $rajdhani;
  text-transform: uppercase;
  font-weight: 600;
  float: right;

  a {
    color: inherit;
    margin-right: $line-height;
    &:last-of-type {
      margin-right: 0;
    }
  }

  @media screen and (max-width: 460px) {
    margin-top: $line-height;
  }

  .is-current {
    color: $gold;
  }

}

.page-header {
  margin-bottom: 2rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.section-nav {
  overflow: hidden;
  position: relative;
  border-top: 1px solid $light-grey;
  border-bottom: 1px solid $light-grey;
  background-color: $subdued-grey;

  &__item {
    padding: $line-height;
    margin: 0;
    display: inline-block;
    position: relative;
    border-left: 1px solid $light-grey;
    &:last-of-type {
      border-right: 1px solid $light-grey;
      @media screen and (max-width: 460px) {
        border: 0 none;
      }
    }
    &:hover {
      background: $white;
    }

    @media screen and (max-width: 460px) {
      border: 0 none;
      padding: #{0.5 * $line-height};
    }

  }

  &.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

}

.site-title-crown {
  height: 0.75rem;
  margin-bottom: $line-height;
}
