.swatch {
  width: 100%;
  height: 100px;
  display: block;
  position: relative;
}

.sw-blue { background-color: #1a3d5d; }
.sw-black { background-color: #252525; }
.sw-grey { background-color: #5b5b5b; }
.sw-white { background-color: #e5e5e5; }
.sw-acc-blue { background-color: #4194d0; }
.sw-acc-gold { background-color: #b58d5e; }
